:root {
  --bg-start: #2c35a2;
  --bg-end: #0f133b;

  --highlight-fg: #161c49;
  --highlight-primary: #73fff5;
  --highlight-secondary: #cf0389;

  --fg-color: rgba(255, 255, 255, 0.9);
  
  --transition: 250ms ease-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: var(--fg-color);

  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: 2rem;
  min-height: 100vh;


  background: linear-gradient(
    45deg,
    var(--bg-start), 
    var(--bg-end)
  );
}

main {
  max-width: 50rem;
  padding: 2rem;
}

header {
  display: flex;

  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;

  text-transform: uppercase;
  font-size: 2rem;
}

.logo > img {
  height: 2rem;
  margin-right: 1rem;
}


a {
  color: var(--fg-color);

  text-decoration: none;
}


a.button {
  padding: 0.25rem 1.5rem;
  border: 1px solid var(--highlight-primary);
  border-radius: 0.25rem;
  
  color: var(--highlight-fg);
  background-color: var(--highlight-primary);

  text-transform: uppercase;
  font-weight: 700;

  transition: 
    background-color var(--transition),
    color var(--transition);
}

a.button:hover {
  color: var(--highlight-primary);
  background-color: transparent;
}



nav > ul {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 0.5rem;

  list-style-type: none;
}

nav > ul a {
  --dot-size: 0.5rem;
  --dot-color: var(--highlight-primary);

  position: relative;

  padding: 0.25rem 1.25rem;

  text-transform: uppercase;

  transition: color var(--transition),
    background-color var(--transition);
}

nav > ul a::after {
  content: '';

  position: absolute;

  width: var(--dot-size);
  height: var(--dot-size);
  top: 100%;
  left: 50%;
  border-radius: 50%;
  border: 2px solid var(--dot-color);

  opacity: 0;
  transform: translate(-50%, -100%);

  transition: opacity var(--transition),
    border-color var(--transition),
    transform var(--transition);
}

nav > ul a:hover {
  --dot-color: var(--highlight-secondary);

  color: var(--highlight-secondary);
}

nav > ul a:hover::after,
nav > ul > li.active > a::after {
  opacity: 1;
  transform: translate(-50%, 0%);
}

nav > ul > li.active > a {
  --dot-color: var(--highlight-primary);var(--highlight-primary);
  color: var(--highlight-primary);
}

nav > ul > li.highlight > a {
  border-radius: 1rem;
  border: 1px solid var(--highlight-primary);
}

nav > ul > li.highlight > a:hover {
  background-color: var(--highlight-primary);
  color: var(--highlight-fg);
}

nav > ul > li.highlight > a::after {
  content: none;
}



section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "content artwork";
  place-content: center;
}

section > .content {
  grid-area: content;
  place-self: center stretch;
}

section > .artwork {
  grid-area: artwork;
  place-self: stretch;
}


h1 {
  margin-bottom: 1rem;

  color: var(--highlight-primary);

  font-size: 2.5rem;
  font-weight: 200;
}

p {
  margin-bottom: 1rem;

  font-size: 1.25rem;
  font-weight: 200;
}

footer {
  position: relative;
  
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  gap: 1rem;
  justify-content: center;

  margin-top: 4rem;
  padding-top: 1rem;
  width: 80%;
}

footer::before {
  content: '';

  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  height: 2px;

  background: linear-gradient(
    90deg,
    transparent,
    var(--highlight-secondary),
    transparent
  );
}